$small-font: 32px;
$normal-font: 48px;
$accent-font: 72px;

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;

  font-size: $small-font;
  line-height: 0.9;
  padding-top: 16px;
  color: white !important;
  z-index: 999;
  position: relative;

  @include mt.larger-than(mt.$breakpoint-xs) {
    font-size: $normal-font;
  }

  .name {
    font-size: $normal-font;
    position: relative;
    font-weight: 700;
    text-align: center;

    @include mt.larger-than(mt.$breakpoint-sm) {
      font-size: $accent-font;
      text-align: left;
    }
  }
}

.socials {
  padding-top: 8px;
}
