.header {
  @include mt.larger-than(mt.$breakpoint-xl) {
    position: relative;
    top: -128px;

    .frame {
      transform: rotate(-5deg);
    }

    .right {
      position: relative;
      top: 128px;
    }
  }

  .img {
    object-fit: contain;
  }
}
