.header {
  @include mt.larger-than(mt.$breakpoint-xl) {
    position: relative;

    .frame {
      position: relative;
      transform: rotate(-5deg);
      top: -128px;
    }
  }

  .img {
    object-fit: contain;
  }
}
