.root {
  position: fixed;
  padding: 4px 24px;
  margin: 0 0 32px 0;
  background-color: transparent;
  width: 100%;
  backdrop-filter: blur(10px);

  @include mt.smaller-than(mt.$breakpoint-sm) {
    backdrop-filter: blur(20px);
  }

  .brand {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;

    @include mt.smaller-than(mt.$breakpoint-sm) {
      font-size: 28px;
      position: relative;
      top: -1px;
    }
  }

  @include mt.larger-than(mt.$breakpoint-sm) {
    border-radius: 20px;
    margin: 32px 0;
  }
}
